// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html{
    width: 100%;
        
    body {
        margin: auto;
        
    header {
        
        background-color: red;
        height: 5rem;
        display: table;
        width: 100%;
        div {
            height: 100%;
            display: table-cell;
            vertical-align: middle;
            h1 {
                
                margin: auto;
                text-align: center;
               
            }
        }
        
    }
    
    }
}
