// Place all the styles related to the Tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html{
    width: 100%;
        
    body {
        margin: auto;
        
    header {
        
        background-color: red;
        height: 5rem;
        div {
            height: auto;
            
            h1 {
                margin: 0;
                
            }
        }
        
    }
    
    }
}
